
.nav-link.active {
  color: #0d6efd !important;
}

.nav-link.text-white {
  transition: color 0.3s ease, border-bottom 0.3s ease;
  border-bottom: 2px solid transparent;
}

.nav-link.text-white:hover {
  color: #0d6efd !important; /* bleu clair */
  border-bottom: 2px solid #0d6efd;
}

.navbar-brand {
  font-family: 'Nunito Sans', sans-serif;
}

.hero-section {
  height: 100vh;
  background: url('/src/assets/images/hero-bg.jpg') no-repeat center center/cover;
  position: relative;
}

.bg-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.hero-section .container {
  position: relative;
  z-index: 2;
}

h1, h2 {
  color: #fff;
  font-family: 'Nunito Sans', sans-serif;
}

.service-card:hover i {
  color: #cde1f8;
  transition: color 0.3s ease;
}

.bg-overlay-blue {
  background-color: rgba(0, 105, 255, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}

section.position-relative .container {
  z-index: 1;
  position: relative;
}


#backToTop {
  z-index: 1050;
}

.hover-underline {
  text-decoration: none;
}

.hover-underline:hover {
  text-decoration: underline;
}


